{% extends "principal.html"%} {% block title %} Cotización {% endblock %} {% load staticfiles %} 
{% block content %}
<div ng-app="Cotizacion" ng-controller="SymbolController">
    <form ng-submit="crear()" >
        {% csrf_token %}
        <div class="form-group">
            Persona: {{request.user.first_name}}
            <select class="form-control" name="producto" ng-model="cotizacion.producto">
                {% for producto in producto_lista %}
                <option value="{{producto.id}}">{{producto.nombre}}</option>
                {% endfor %}
            </select>
            <div/> {% if request.user.is_staff %}
            <div class="form-group">
                Proveedor:
                <select class="form-control" name="proveedor" ng-model="cotizacion.prooveedor">
                    {% for proveedor in proveedor_lista %}
                    <option value="{{proveedor.id}}">{{proveedor.nombre}}</option>
                    {% endfor %}
                </select>
            </div> {% endif %}

            <div class="form-group">
                Unidad :
                <select class="form-control" name="unidad" ng-model="cotizacion.unidad">
                    <option value="unidad">Unidad</option>
                    <option value="metro">Metro</option>
                    <option value="litro">Litro</option>
                </select>
            </div>
            <div class="form-group">
                Cantidad :
                <input name="cantidad" value="Cantidad" type="number" class="form-control" ng-model="cotizacion.cantidad" />
            </div>
            <div class="form-group button-group">
                <button type="submit" class="btn btn-success">Guardar Cotización</button>
                <a href="/logout">
                    <button type="button" class="btn btn-danger">Cerrar Sesión</button>
                </a>
            </div>
        </div>
    </form>

    <div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#solicitud">Solicitud</a>
            </li>
            <li>
                <a data-toggle="tab" href="#aprobada">Aprobadas</a>
            </li>
            <li>
                <a data-toggle="tab" href="#rechazada">Rechazadas</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="solicitud" class="tab-pane active">
                <table>
                    <thead>
                        <tr>
                            <th>cotizacion</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for cotizacion in cotizaciones_lista %} {% if cotizacion.estado == "S" %}
                        <tr>
                            <td>
                                {{cotizacion}}
                            </td>
                            <td class="form-inline">
                                <form method="POST" action="/aceptar/">
                                    {% csrf_token %}
                                    <input type="hidden" name='id' value="{{cotizacion.id}}"> {% if request.user.is_staff %}
                                    <div class="form-group">
                                        Proveedor:
                                        <select class="form-control" name="proveedor" required>
                                            {% for proveedor in proveedor_lista %}
                                            <option value="{{proveedor.id}}">{{proveedor.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                        <div/>

                                        <button type="submit" class="btn btn-success">Aceptar</button>
                                        {% endif %}
                                </form>
                            </td>
                            <td class="form-inline">
                                <form method="POST" action="/rechazar/">
                                    {% if request.user.is_staff %}
                                    <input type="hidden" name='id' value="{{cotizacion.id}}"> {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Rechazar</button>
                                    {% endif %}

                                </form>
                            </td>
                        </tr>
                        {% endif %} {% endfor %}
                    </tbody>
                </table>
                </div>
                <div id="aprobada" class="tab-pane">
                    <div ng-repeat="cotizacion in cotizaciones_aprobadas">
                        <div class="container-cotizaciones">
                            <div class="row-cotizaciones">
                                Proveedor: //cotizacion.proveedor.nombre//
                            </div>
                            <div class="row-cotizaciones">Producto: //cotizacion.producto//
                            </div>
                            <div class="row-cotizaciones-final">Solicitante : //cotizacion.user//
                            </div>
                        </div>
                    </div>
                </div>
                <div id="rechazada" class="tab-pane">
                    <div ng-repeat="cotizacion in cotizaciones_rechazadas">
                        <div class="container-cotizaciones">
                            <div class="row-cotizaciones">Producto: //cotizacion.producto//
                            </div>
                            <div class="row-cotizaciones">Solicitante : //cotizacion.user//
                            </div>
                            <div class="row-cotizaciones-final">
                                Fecha de creación: //cotizacion.fecha_creacion//
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %} {% block js %}
    <script>
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        var Cotizacion = angular.module('Cotizacion', []);

        Cotizacion.config(function ($interpolateProvider) {
            $interpolateProvider.startSymbol('//');
            $interpolateProvider.endSymbol('//');
        });


        Cotizacion.controller('SymbolController', function ($scope, $http) {
            $scope.hola = "Hola Augusto!"
            $scope.user = {{request.user.isStaff}}
            $scope.crear = function() {
                a
            };
            setInterval(function () {
                $http({
                    method: 'GET',
                    url: '/cotizaciones_json'
                }).then(function successCallback(response) {
                    $scope.cotizaciones_aprobadas = response.data.filter(
                        function (cotizacion) {
                            return cotizacion.estado == 'A'
                        }
                    )
                    $scope.cotizaciones_rechazadas = response.data.filter(
                        function (cotizacion) {
                            return cotizacion.estado == 'R'
                        }
                    )
                    $scope.cotizaciones_solicitud = response.data.filter(
                        function (cotizacion) {
                            return cotizacion.estado == 'S'
                        }
                    )

                    // this callback will be called asynchronously
                    // when the response is available
                }, function errorCallback(response) {
                    // called asynchronously if an error occurs
                    // or server returns response with an error status.
                });

            }, 1000);
        });
    </script>
    {% endblock %}